body {
  background-color: #FFF8E9;
}
.App {
  display:grid;
}
.container {
  display: flex;
  align-items: center;
  height: 90vh;
  padding: 0;
  margin: 0;
}
.Logo {
  width: 50%;
  height: 30%;
  font-family: "Kavoon", serif;
  text-align: center;
}
.Logo img {
  width: 10%;
}
.LoginForm {
  font-family: "Kaisei Tokumin", serif;
  width: 50%;
  height: 50%;

}
.InputEmail h2 {
  margin-bottom: 5px;
}
.inpEmail {
  background-color: #FFCBBF;
  border: none;
  font-family: "Kaisei Tokumin", serif;
  padding: 10px 10px;
  border-radius: 5px;
  width: 50%;
  background-image: url("./logo/envelope-solid.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-position: 5px;
  background-size: 32px;
  padding-left: 50px;

}
.InputPassword h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.inpPassword {
  background-color: #FFCBBF;
  border: none;
  font-family: "Kaisei Tokumin", serif;
  padding: 10px 10px;
  border-radius: 5px;
  width: 50%;
  background-image: url("./logo/lock-solid.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-position: 5px;
  background-size: 30px;
  padding-left: 50px;
}
.submitBTN {
  width: 50%;
  text-align: center;
}
.SubmitBTN {
  background-color: #BCD3F9;
  height: 100%;
  border: none;
  padding: 5% 20px;
  border-radius: 5px;
  margin-top: 10px;
}
.SubmitBTN:hover {
  background-color: #83a9f0;
}
.CreateAccount:link {
  color: black;
  text-decoration: none;
  display: inline-block;
}
.CreateAccount:hover {
  color: red;
}
.ForgotPass{
  display: grid;
  text-align: center;
  width: 50%;
  transform: translateY(-25px);
}
.Forgotpass:link {
  color: gray;
  text-decoration: none;
  opacity: 50%;
}
.Forgotpass:hover {
  color: red;
  text-decoration: underline;
}